# the intention of this udev ruleset is to create disk symlinks under /dev/disk/cloud for aws ec2/ebs entities

# ec2 configuration is prefixed with 'ec2-' and the short name of the disk, for example:
# ec2-sda1
# ec2-sda1-part1
# ec2-sda1-part2
# ec2-sdf
# ec2-sdf-part1

# note the very subtle special casing of the the xxx1 mapping so that we stick 'p' infix in - sda11 is ambiguous if the top dev is sda1.

# ebs configuration is prefixed with ebs, then unwound to vol- as _that's what the console shows_. we use the p infix here, though AWS is unclear
# if ebs names will remain hex, or just a specific length.
# ebs-vol-034513de722680145
# ebs-vol-034513de722680145p1

# filter if not block add|change
ACTION!="add|change", GOTO="ec2_attach_end"
SUBSYSTEM!="block", GOTO="ec2_attach_end"

# filter if not ebs model
ENV{ID_SERIAL}!="Amazon Elastic Block Store*", GOTO="ec2_attach_ebs_end"

# filter if disk or partition
ENV{DEVTYPE}=="disk", GOTO="ec2_attach_ebs_start"
ENV{DEVTYPE}=="partition", GOTO="ec2_attach_ebs_start"
GOTO="ec2_attach_ebs_end"

# for attaching ebs disks or partitions.
LABEL="ec2_attach_ebs_start"

# the program works either way, but we do some additional hilarity for partitions. run and save.
# the ec2 console/nvme id disagree about whether /dev/ is included - we always strip it.
PROGRAM="/bin/bash -c 'd=\"/dev/\" ; while IFS= read -r l ; do case \"$l\" in 0000:*) l=\"${l##* }\" ; l=\"${l/$d/}\" ;l=\"${l//[^A-Za-z0-9]/}\" ; [ \"$l\" ] || exit 1 ; echo -n $l ;; esac done <<< \"$(nvme id-ctrl -v /dev/%P)\"'",ENV{EC2_ATTACH_CONFIG}="%c"

# ... well, ec2 says one thing, so let's do _that_
PROGRAM="/bin/bash -c 't=$env{ID_SERIAL_SHORT};echo ${t#vol}'",ENV{EC2_SHORTVOL}="%c"

# disk case - note we get launch config and ebs record
ENV{DEVTYPE}=="disk",SYMLINK+="disk/cloud/ec2-$env{EC2_ATTACH_CONFIG}",SYMLINK+="disk/cloud/ebs-vol-$env{EC2_SHORTVOL}",GOTO="ec2_attach_end"

# partition case - always use -partX suffix
SYMLINK+="disk/cloud/ec2-$env{EC2_ATTACH_CONFIG}-part$env{ID_PART_ENTRY_NUMBER}",SYMLINK+="disk/cloud/ebs-vol-$env{EC2_SHORTVOL}-part$env{ID_PART_ENTRY_NUMBER}"

# enough about EBS.
LABEL="ec2_attach_ebs_end"

# ephemeral volumes!
ENV{ID_MODEL}!="Amazon EC2 NVMe Instance Storage*", GOTO="ec2_attach_instance_end"

# filter if disk or partition
ENV{DEVTYPE}=="disk", GOTO="ec2_attach_instance_start"
ENV{DEVTYPE}=="partition", GOTO="ec2_attach_instance_start"
GOTO="ec2_attach_instance_end"

LABEL="ec2_attach_instance_start"

# we take the MINOR number here and...hope?
ENV{DEVTYPE}=="disk",SYMLINK+="disk/cloud/ec2-ephemeral$env{MINOR}",GOTO="ec2_attach_end"

# partitions handled here
PROGRAM="/bin/bash -c 't=$env{ID_PART_ENTRY_DISK};echo ${t#*:}'",ENV{DISK_MINOR}="%c"
SYMLINK+="disk/cloud/ec2-ephemeral$env{DISK_MINOR}-part$env{ID_PART_ENTRY_NUMBER}"

LABEL="ec2_attach_instance_end"

LABEL="ec2_attach_end"
